@charset "utf-8";
/* CSS style */


/* Page style */
body{
	width: 100%;
	padding: 0;
	margin: 0;
	background-image:url("Images/background image for all page(index, contact, aboutus, product).jpg");
	font-family: 
	 Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";}


/* Navigation bar style */
nav{
	position:absolute;
	background-color: rgba(0,0,0,0.5);
	height:80px;
	width: 100%;}

/* Navigation Honkai impact 3rd logo style */
nav img#logo{
	margin-top: 14px;
	margin-left: 40px;}

/* Navigation Honkai impact 3rd logo Hover animation */
#logo:hover{
	background-image: url("Images/Gif/hersercher of sentience ult(honkai-impact-style).gif");
	}

/* Navigation style */
#navigation-container{
	margin-top: -10px;}

/* Navigation Home, About, Product and Contact style */
.text{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	font-size: 20px;
	margin-top: -55px;}

/* Navigation Home, About, Product and Contact style */
li a{
	float: left;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 10px 35px;}

/* Navigation Home, About, Product, Hoyolab and Contact hover animation */
li a:hover{
	color: black;
	background-color: white;
	opacity: 70%;}

/* Navigation Hoyolab style */
#hoyolab{
	color: white;
	opacity: 100%;}

/* Navigation Hoyolab hover animation */
#hoyolab:hover{
	color: white;
	background-color: #553E90;
	opacity: 100%;
	border:3px solid black;}


/* Navigation: circle user, cart shopping icon style */
.nav-icon{
	position: absolute;
	right: 40px;
	top: 15px;
	padding: 10px;}

/*cart shopping */
.fa-cart-shopping{
	color: white;}

/*cart shopping hover animation */
.fa-cart-shopping:hover{
	font-size: 40px;}

/*circle user */
.fa-circle-user{
	color: white;}

/*circle user hover animation */
.fa-circle-user:hover{
	font-size: 40px;}


/* Navigation: text about icon link style */
.icontext{
	color: white;
	position: absolute;
	top: 50px;}

/* Navigation: text about icon link hover animation style */
.icontext:hover{
	background-image: url("Images/Gif/mei(style).gif");}



/* Footer style */
footer{
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	height: 100px;
	padding-top: 20px;
	position: absolute;
	bottom: -1000px;}


/* Link style */
.link{
	color: white;}

/* Link hover animation */
.link:hover{
	color: cornflowerblue;}

/* Social Media Icon Style */
.fa-instagram, .fa-facebook-f, .fa-youtube, .fa-twitter, .fa-discord{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 25px;
	color: white;}

/* Social Media Icon hover animation Style */
/* Instagram */
.fa-instagram:hover{
	font-size: 30px;
	color:#8a3ab9;}

/* Facebook */
.fa-facebook-f:hover{
	font-size: 30px;
	color:#3b5998;}

/* Twitter */
.fa-twitter:hover{
	font-size: 30px;
	color: #00acee;}

/* Youtube */
.fa-youtube:hover{
	font-size: 30px;
	color: #FF0000;}

/* Discord */
.fa-discord:hover{
	font-size: 30px;
	color: #7289DA;}